#test file
test.py

#pycharm
.idea

#index app
YXSite/index

#django objects
YXSite/logs/*.log
#YXSite/db.sqlite3
#YXSite/manage.py
#YXSite/YXSite/*.py
#YXSite/YXSite/templates
#!YXSite/YXSite/__init__.py

#python cache
**/__pycache__
*.py[cod]
