{% extends "yxsite_base.html" %}

{% block title %}
    yxsite title
    {% load staticfiles %}
    <link href="{% static "css/album.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% block indexheader %}
    {% endblock %}

    <main role="main">

      {% block indextitle %}
      {% endblock %}

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% load index_card %}
            {% for card in cards %}
              {% with _card_data=card %}
                {% index_card  _card_data %}
              {% endwith %}
            {% endfor %}
          </div>

        </div>
      </div>

    </main>

    {% block indexfooter %}
    {% endblock %}

    <script src="{% static "js/holder.min.js" %}"></script>
{% endblock %}